################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstBlazor/.vs/MyFirstBlazor/config/applicationhost.config
